.Rproj.user
.Rhistory
.RData
.Ruserdata
frontiers_long_covid_rev3.docx
long_covid_manuscript IT edits 11_4_25.docx
manuscript.docx
sample_data.csv
age_scale.rds
age_pred.feather
clade_pred.feather
rural_pred.feather
sex_pred.feather
svi_pred.feather
age_scale.Ruserdata
data_excl.feather
data_mod.feather
rd.rds
unadj_rd.feather
*.tiff
renv/library
renv/staging
renv/.gitignore
renv/settings.json
Thumbs.db
patient_accession_crosswalk.csv
