.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
sample_data.csv
age_scale.rds
age_pred.feather
clade_pred.feather
rural_pred.feather
sex_pred.feather
svi_pred.feather
age_scale.Ruserdata
data_excl.feather
data_mod.feather
patient_crosswalk.feather
rd.rds
unadj_rd.feather
*.tiff
renv/
Thumbs.db
